doctype html
html
  head
    title Add Review
  body
    h1 Add Review
    form(action='/reviews' method='POST')
      input(type='hidden' name='bookId' value=bookId)
      label Rate:
      input(type='number' name='rate' min='1' max='5' required)
      label Review:
      textarea(name='message' required)
      button(type='submit') Submit Review
