doctype html
html
  head
    title Book List
    link(rel="stylesheet", href="/styles/style.css")
  body
    p.descriptcw This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service