doctype html
html
  head
    title Add a New Book
    link(rel="stylesheet", href="/styles/style.css")
    script(src="/services/alidation.js" defer)
  body
    .new-book-page 
      h1 Add a New Book
      form(action="/newBook" method="post" id="bookForm")
        input(type="text" name="title" id="title" placeholder="Book Title" required)
        input(type="text" name="author" id="author" placeholder="Author" required)
        input(type="text" name="genre" id="genre" placeholder="Genre" required)
        
        input(type="number" name="year" id="year" placeholder="Published Year" required min="1000" max="2099")
        small#yearError(style="color: red; display: none;") Invalid year (must be 1000-2099)

        input(type="number" name="pages" id="pages" placeholder="Number of pages" required min="1")
        small#pagesError(style="color: red; display: none;") Pages must be at least 1

        button(type="submit") Add Book
        a.btn.btn-secondary(href="/homepage") Back to Homepage